.node-component {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #cfcfcf;
  font-size: 16px;
  transform: translate(-50% , -50%);
  max-width: 500px;

  .priority-container {
    flex: 1;
    padding-right: 30px;
  }
  
  .add-icon-form {
    flex: 1;
    margin-right: 30px;
    position: relative;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    
    input {
      border: none;
      background: none;
      padding: 0 0 4px;
      outline: none;
      font-size: 12px;
      width: 100%;
    }
    
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      cursor: pointer;
      padding: 2px 2px;
      border-radius: 4px;
      margin-bottom: 2px;
      
      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: fit-content;
    border: none;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
    line-height: 12px;
    
    button {
      border: none;
      background: none;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      padding: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      flex-shrink: 0;
      color: inherit;
      
      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }
    }
  }
  
  .priority-icon {;
    color: white;
  }

  .categories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }

  .category-icon {
    border: 1px solid darkslategray;
  }

  .node-text,
  .node-input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 30px 8px 0;
    white-space: pre-wrap;
  }
  
  textarea {
    border: none;
    field-sizing: content;
    overflow: hidden;
    resize: none;
    font-size: 16px;
    line-height: 20px;
    padding-right: 30px;
  }
  
  .connection-button {
    background: none;
    border: 1px solid black;
    border-radius: 6px;
    outline: none;
    padding: 4px 10px;
    width: 100%;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    &:active {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.file-preview {
  width: 25%;
  height: auto;
  object-fit: cover;
  margin: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.file-box {
  display: inline-block;
  padding: 4px 8px;
  margin: 4px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.file-box a {
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
  word-break: break-word;
}

.file-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  white-space: nowrap;
  p {
    max-width: 90%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
  }


  button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    flex-shrink: 0;
  }
}
