.node-container {
  position: relative;
  width: 100000px;
  height: 100000px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-size: 20px 20px;
    background-image:
            linear-gradient(to right, transparent 19px, #ccc 1px),
            linear-gradient(to bottom, transparent 19px, #ccc 1px);
    border: 1px solid #ccc;
  }
  
  .connections-layer {
    overflow: visible;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  .created-selection {
    position: absolute;
    border: 2px dashed black;
    pointer-events: auto;
  }

  .current-selection {
    position: absolute;
    border: 1px solid black;
    pointer-events: auto;
  }
  
  .remove-selection-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
}
