.mind-map-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100000px;
  height: 100000px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-size: 20px 20px;
    background-image:
            linear-gradient(to right, transparent 19px, #ccc 1px),
            linear-gradient(to bottom, transparent 19px, #ccc 1px);
    border: 1px solid #ccc;
  }
  
  h2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 30px 50px;
    background-color: white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
}
