.panel-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  border-radius: 9999px;
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 0 6px -1px gray;
  
  button {
    background: none;
    border: none;
    outline: none;
    border-radius: 9999px;
    padding: 10px 14px;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
}
