.register-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  padding: 100px 50px;
  margin: 0 auto;
  
  h2 {
    text-align: center;
  }

  .register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    input {
      padding: 6px 14px;
    }
    
    button {
      background: rgba(0, 0, 0, 0.6);
      border: none;
      border-radius: 6px;
      outline: none;
      padding: 6px 14px;
      font-size: 18px;
      cursor: pointer;
      width: 100%;
      color: white;

      &:hover {
        background: rgba(0, 0, 0, 0.5);
      }

      &:active {
        background: rgba(0, 0, 0, 0.7);
      }
    }
  }
  
  .helper-text {
    color: red;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    a:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
}
